<li id="post-<%= post._id %>"> 
    <% if(locals.user && locals.user.id==post.user.id) { %>
      <small>
        <a class="delete-post-button" href="/posts/delete/?id=<%= post.id %>">X</a> 
      </small>
    <% } %>
    <p> <%= post.content %> </p>
    <p> <%= post.user.name %> </p>
    <!-- like department -->
    <small>
      <!-- if the user is signed in, then show the like option -->
      <% if(locals.user) { %>
          <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%= post.id %>&type=Post">
            <%= post.likes.length %> Likes
          </a> 
      <% }else{ %>
        <%= post.likes.length %> Likes
      <% } %>
    </small>
    <div class="post-comments">
        <% if(locals.user) { %>
           <!-- let's give an id to the new comment form, we'll also need to make the same changes in home_posts.js where we're adding a post to the page -->       
            <form id="post-<%= post._id %>-comments-form" action="/comments/create" method="POST">
              <input type="text" name ="content" placeholder="Add comment ..." required>
              <input type="hidden" name="post" value="<%= post._id %>">
              <input type="submit" value="Post Comment">
            </form>
        <% } %>    
        <!-- to display comments and author of comments -->
        <div class="post-comments-list">
          <ul type="square" id = "post-comments-<%= post._id %>">
          <% for(comment of post.comments) { %>
            <%- include('_comment.ejs'); %>
          <% } %>
          </ul>
        </div>
     </div>
</li>